<table class="table table-striped">
   <thead>
        <th ng-click="$ctrl.changeSort('name')" class="sortable">
            Name
            <span ng-show="$ctrl.sortBy == 'name'">
                <i ng-class="[$ctrl.sortOrder=='asc' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down']"
                   class="glyphicon"></i>
            </span>
        </th>
        <th ng-click="$ctrl.changeSort('email')" class="sortable">
            Email
            <span ng-show="$ctrl.sortBy == 'email'">
                <i ng-class="[$ctrl.sortOrder=='asc' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down']"
                   class="glyphicon"></i>
            </span>
        </th>
        <th ng-click="$ctrl.changeSort('created_at')" class="sortable">
            Enrolled
            <span ng-show="$ctrl.sortBy == 'created_at'">
                <i ng-class="[$ctrl.sortOrder=='asc' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down']"
                   class="glyphicon"></i>
            </span>
        </th>
        <th>Subjects</th>
        <th>Actions</th>
   </thead>
    <tbody>
        <tr ng-repeat="student in $ctrl.students">
            <td>
                <span editable-text="student.name" e-name="email" onaftersave="$ctrl.updateStudent($data, 'name', student)" e-required>{{ student.name || 'name' }}</span>
            </td>
            <td>
                <span editable-text="student.email" e-name="email" onbeforesave="$ctrl.checkEmail($data, student)" onaftersave="$ctrl.updateStudent($data, 'email', student)" e-required>{{ student.email || 'email' }}</span>
            </td>
            <td>{{ student.created }}</td>
            <td>
                <table>
                    <tbody>
                    <tr ng-repeat="subject in student.subjects" style="height:35px" ng-style="$first && {'height': '10px'}">
                        <td width="70">
                            <span class="label label-primary Subject--span" >{{ subject.name }}</span>
                        </td>
                        <td width="30" style="text-align:right">
                            <i class="glyphicon glyphicon-remove-sign warning-red" title="remove subject" ng-click="$ctrl.removeSubject(subject,student)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
            <td>
                <div>
                    <button class="btn btn-primary" ng-click="$ctrl.openSubjectForm(student)"><i class="glyphicon glyphicon-plus "></i> Enroll Subject</button>
                </div>
                <div style="margin-top:20px">
                    <button class="btn btn-danger" ng-click="$ctrl.removeStudent(student)"><i class="glyphicon glyphicon-remove-sign "></i> Expel the devil</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
